<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
    <file>./inpsyde-disable-comments.php</file>
    <file>./resources/templates/</file>
    <file>./src/</file>

    <arg value="sp"/>
    <config name="testVersion" value="8.0-"/>
    <rule ref="Inpsyde" />
</ruleset>
